<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<style>
  select {
  -webkit-appearance: none;
  /*webkit browsers */
  -moz-appearance: none;
  /*Firefox */
  appearance: none;
  /* modern browsers */
  border-radius: 0;

}

</style>
<body>
      
    
    <div class="jumbotron jumbotron-fluid" style="padding-top: 2%">
  <div class="container">
    <h1 class="display-4">Covid Prediction System</h1>
    <p class="lead">Online Covid Identification</p>
  </div>
</div>
    
    <div>     
   <nav class="navbar bg-dark"> 
      <ul class="nav navbar-nav navbar-expand-lg">
        <li class style="color: black"><a href="{{ url_for('home')}}"  style="color: whitesmoke; margin-left: 10px; margin-right: 10px"> Home</a></li>
    
      </ul>
      
    
       
  </nav> 
    </div> 
    
    <form style="padding-left: 25%; padding-right: 25%; padding-top: 5%" method="POST" action="{{ url_for('predict')}}">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-group">
          <label class="form-label" for="form3Example1">Breathing_Problem</label>
          <select name="Breathing_Problem"class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>

          
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
         <label class="form-label" for="form3Example2">Fever</label>
         <select name="Fever"class="form-control">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
    </div>
    </div>
  </div>
        
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
          <label class="form-label" for="form3Example1">Dry_Cough</label>
          <select name="Dry_Cough"class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>      </div>
    </div>
    <div class="col">
      <div class="form-outline">
         <label class="form-label" for="form3Example2">Sore_throat</label>
         <select name="Sore_throat"class="form-control">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>      </div>
    </div>
  </div>
        
   <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
          <label class="form-label" for="form3Example1">Running_nose</label>
          <select name="Running_nose"class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>      </div>
    </div>
    <div class="col">
      <div class="form-outline">
         <label class="form-label" for="form3Example2">Asthma</label>
         <select name="Asthma"class="form-control">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>      </div>
    </div>
  </div>
        
    <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
          <label class="form-label" for="form3Example1">Chronic_Lung_Disease</label>
          <select name="Chronic_Lung_Disease"class="form-control">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>      </div>
    </div>
    <div class="col">
      <div class="form-outline">
         <label class="form-label" for="form3Example2">Headache</label>
         <select name="Headache"class="form-control">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>      </div>
    </div>
  </div>
        
</div>

<br>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" style="align-content: center">Predict</button>

  
</form>
    
</body>